/*=============================================
=            key vision           =
=============================================*/
section#key-vision {
  padding: 0;
  width: 100%;
  height: 800px;
  min-height: 800px;
  margin: 0 auto;
  background: #282e44;
  position: relative;
  @include large {
    min-height: 768px;
  }
  @include medium {
    min-height: 800px;
  }
  @include small {
    min-height: 767px;
  }
  @include extraSmall {
    min-height: 480px;
  }
  .main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include medium {
      flex-direction: column-reverse;
      justify-content: center;
    }
    @include small {
      flex-direction: column-reverse;
      justify-content: center;
    }
    @include extraSmall {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }

  .main-image {
    position: relative;
    width: 50%;
    min-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include large {
      width: 57%;
      min-width: auto;
    }
    @include medium {
      width: 90%;
      min-width: auto;
    }
    @include small {
      width: 90%;
      min-width: auto;
    }
    @include extraSmall {
      width: 95%;
      min-width: auto;
    }
    #potted {
      width: 185px;
      height: auto;
      position: absolute !important;
      bottom: 212px;
      left: 50%;
      transform: translateX(-50%) !important;
      margin-left: -30%;
      @include large {
        width: 135px;
        bottom: 160px;
        margin-left: -37%;
      }
      @include medium {
        width: 158px;
        bottom: 198px;
        margin-left: -35%;
      }
      @include small {
        width: 135px;
        bottom: 135px;
        margin-left: -37.5%;
      }
      @include extraSmall {
        display: none;
        width: 100px;
        margin-left: -125px;
        bottom: 67px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    #game-joystick-2 {
      width: 160px;
      height: auto;
      position: absolute !important;
      bottom: 83px;
      left: 50%;
      transform: translateX(-50%) !important;
      margin-left: -38%;
      @include large {
        width: 130px;
        bottom: 68px;
      }
      @include medium {
        width: 140px;
        bottom: 103px;
        margin-left: -40%;
      }
      @include small {
        width: 115px;
        bottom: 60px;
        margin-left: -40%;
      }
      @include extraSmall {
        display: none;
        width: 100px;
        bottom: -75px;
        margin-left: -35%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    #tv {
      width: 687px;
      height: auto;
      position: relative;
      margin-left: 10%;
      @include large {
        width: auto;
        margin-left: 10%;
      }
      @include medium {
        width: auto;
        margin-left: 0;
      }
      @include small {
        width: auto;
        margin-left: 0;
      }
      @include extraSmall {
        width: auto;
        margin-left: 0;
      }
      img.tv {
        width: 687px;
        height: auto;
        margin: 0 auto;
        @include large {
          width: 500px;
        }
        @include medium {
          width: 520px;
        }
        @include small {
          width: 415px;
        }
        @include extraSmall {
          width: 335px;
        }
      }
      #screen {
        width: 417px;
        height: 327px;
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        margin-left: -38.9% !important;
        margin-top: -180px !important;
        border-radius: 2px;
        overflow: hidden;
      }
    }
  }

  .main-text {
    position: relative;
    width: 38%;
    min-width: 420px;
    height: 320px;
    z-index: 2;
    margin-left: 2%;
    @include large {
      width: 37%;
      height: 320px;
      min-width: auto;
    }
    @include medium {
      width: 90%;
      height: 280px;
      min-width: auto;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    @include small {
      width: 90%;
      height: 300px;
      min-width: auto;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    @include extraSmall {
      width: 85%;
      height: auto;
      // height: 260px;
      min-width: auto;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #main-title {
      @include medium {
        width: 400px;
        height: 170px;
      }
      @include small {
        width: 330px;
        height: 189px;
      }
      @include extraSmall {
        width: 100%;
        height: 37vmin;
        // max-height: fit-content;
        // max-height: 145px;
      }
      .title-strings {
        position: relative;
        .greet {
          @include setBgImgLinearGradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 1px;
          font-family: 'Roboto', Arial, Helvetica, sans-serif;
          text-transform: uppercase;
          @include extraSmall {
            font-size: 5vmin;
          }
        }
        h1 {
          @include setBgImgLinearGradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 0;
          padding: 0;
          font-size: 120px;
          font-family: 'Bebas Neue', cursive;
          width: 300px;
          @include large {
            width: 232px;
            font-size: 96px;
          }
          @include medium {
            width: 232px;
            font-size: 96px;
          }
          @include small {
            width: 223px;
            font-size: 92px;
          }
          @include extraSmall {
            width: 54vw;
            font-size: 21vmin;
          }
        }
        .year {
          position: absolute;
          top: 31px;
          left: 315px;
          font-family: 'Bebas Neue', cursive;
          font-size: 42px;
          color: #d166c5;
          @include large {
            left: 265px;
          }
          @include medium {
            left: 265px;
          }
          @include small {
            left: 250px;
          }
          @include extraSmall {
            left: 59vw;
            font-size: 28px;
          }
          .border {
            position: absolute;
            top: -11px;
            left: -18px;
            width: 95px;
            @include extraSmall {
              top: -11px;
              left: -19px;
              width: 76px;
            }
          }
        }
      }
      #typed-strings {
        position: relative;
        h2 {
          font-size: 38px;
          color: $mainTxtColor;
          font-weight: 600;
          line-height: 1.3;
          margin-top: 20px;
          margin-bottom: 40px;
          @include large {
            font-size: 30px;
          }
          @include medium {
            font-size: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
          @include small {
            font-size: 28px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          @include extraSmall {
            font-size: 6.7vmin;
            margin-top: 0px;
            margin-bottom: 0px;
          }
          span.typed-cursor {
            color: $mainTxtColor;
          }
        }
      }
    }
    #btn-sign-up {
      margin-top: 70px;
      display: flex !important;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      @include medium {
        margin-top: 0;
        position: relative !important;
        width: 400px;
      }
      @include small {
        margin-top: 0;
        position: relative !important;
        width: 330px;
      }
      @include extraSmall {
        margin-top: 0;
        position: relative !important;
        width: 100%;
        margin-bottom: 4.5%;
        margin-top: 0;
      }
      a.btn-sign-up {
        width: 250px;
        padding: 20px 50px;
        text-align: center;
        color: $mainTxtColor;
        border-radius: 6px;
        font-weight: 600;
        color: $mainTxtColor;
        text-shadow: 0 0 6px rgb(0, 0, 0, 0.8);
        @include setBgImgLinearGradient;
        @include setTransition;
        margin-top: 190px;
        @include large {
          width: 320px;
          margin-top: 130px;
        }
        @include medium {
          width: 100%;
          margin-top: 0;
        }
        @include small {
          width: 100%;
          margin-top: 0;
        }
        @include extraSmall {
          width: 100%;
          margin-top: 0;
        }
        &:hover {
          box-shadow: inset 0 0 0 30px $mainTxtColor;
          text-shadow: none;
          color: #272733;
        }
      }
    }
  }

  .drops-back {
    width: 2000px;
    height: 1000px;
    background: url('../images/drops-back.png') center center no-repeat;
    opacity: 0.3;
    @include large {
      width: 1250px;
      height: 834px;
      background: url('../images/drops-back-large.png') center center no-repeat;
    }
    @include medium {
      width: 1250px;
      height: 834px;
      background: url('../images/drops-back-medium.png') center center no-repeat;
    }
    @include small {
      width: 768px;
      height: 834px;
      background: url('../images/drops-back-small.png') center center no-repeat;
    }
    @include extraSmall {
      width: 575px;
      height: 834px;
      background: url('../images/drops-back-small.png') center center no-repeat;
    }
  }
  .drops-up {
    width: 2000px;
    height: 1000px;
    background: url('../images/drops-up.png') center center no-repeat;
    z-index: 1;
    opacity: 0.5;
    @include large {
      width: 1200px;
      height: 1000px;
      background: url('../images/drops-up-large.png') center center no-repeat;
    }
    @include medium {
      width: 1200px;
      height: 600px;
      background: url('../images/drops-up-medium.png') center center no-repeat;
    }
    @include small {
      width: 768px;
      height: 600px;
      background: url('../images/drops-up-small.png') center center no-repeat;
    }
    @include extraSmall {
      width: 575px;
      height: 600px;
      background: url('../images/drops-up-small.png') center center no-repeat;
    }
  }
  #kv-back,
  #kv-up {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  #scroll-down {
    position: absolute;
    bottom: 60px;
    left: 0px;
    font-size: 14px;
    color: $minorTxtColor;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transform-origin: top;
    cursor: pointer;
    transform: rotate(90deg) translateX(0px);
    opacity: 1;
    z-index: 1;
    visibility: visible;
    @include setTransition(0.8s);
    @include large {
      left: -10px;
    }
    @include medium {
      left: -10px;
    }
    @include small {
      left: -10px;
    }
    @include extraSmall {
      display: none;
    }
    img {
      position: absolute;
      width: 14px;
      transform: rotate(-90deg);
      transform-origin: center;
      left: -25px;
      top: -4px;
      animation: scrollDown 1s ease infinite;
    }
  }
}
